<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.wongs.weathertop.mapper.quanmin.InformSmsMapper" >
  <resultMap id="BaseResultMap" type="xyz.wongs.weathertop.entity.quanmin.InformSms" >
    <id column="inform_id" property="id" jdbcType="INTEGER" />
    <result column="service_type" property="serviceType" jdbcType="VARCHAR" />
    <result column="service_id" property="serviceId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="triger_time" property="trigerTime" jdbcType="DATE" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="state_remark" property="stateRemark" jdbcType="VARCHAR" />
    <result column="state_date" property="stateDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    inform_id, service_type, service_id, content, triger_time, create_date, state, state_remark, 
    state_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from inform_sms
    where inform_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from inform_sms
    where inform_id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.wongs.weathertop.entity.quanmin.InformSms" >
    insert into inform_sms (inform_id, service_type, service_id, 
      content, triger_time, create_date, 
      state, state_remark, state_date
      )
    values (#{id,jdbcType=INTEGER}, #{serviceType,jdbcType=VARCHAR}, #{serviceId,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{trigerTime,jdbcType=DATE}, #{createDate,jdbcType=DATE}, 
      #{state,jdbcType=VARCHAR}, #{stateRemark,jdbcType=VARCHAR}, #{stateDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.wongs.weathertop.entity.quanmin.InformSms" >
    insert into inform_sms
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="informId != null" >
        inform_id,
      </if>
      <if test="serviceType != null" >
        service_type,
      </if>
      <if test="serviceId != null" >
        service_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="trigerTime != null" >
        triger_time,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="stateRemark != null" >
        state_remark,
      </if>
      <if test="stateDate != null" >
        state_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="informId != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="serviceType != null" >
        #{serviceType,jdbcType=VARCHAR},
      </if>
      <if test="serviceId != null" >
        #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="trigerTime != null" >
        #{trigerTime,jdbcType=DATE},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="stateRemark != null" >
        #{stateRemark,jdbcType=VARCHAR},
      </if>
      <if test="stateDate != null" >
        #{stateDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.wongs.weathertop.entity.quanmin.InformSms" >
    update inform_sms
    <set >
      <if test="serviceType != null" >
        service_type = #{serviceType,jdbcType=VARCHAR},
      </if>
      <if test="serviceId != null" >
        service_id = #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="trigerTime != null" >
        triger_time = #{trigerTime,jdbcType=DATE},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="stateRemark != null" >
        state_remark = #{stateRemark,jdbcType=VARCHAR},
      </if>
      <if test="stateDate != null" >
        state_date = #{stateDate,jdbcType=DATE},
      </if>
    </set>
    where inform_id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.wongs.weathertop.entity.quanmin.InformSms" >
    update inform_sms
    set service_type = #{serviceType,jdbcType=VARCHAR},
      service_id = #{serviceId,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      triger_time = #{trigerTime,jdbcType=DATE},
      create_date = #{createDate,jdbcType=DATE},
      state = #{state,jdbcType=VARCHAR},
      state_remark = #{stateRemark,jdbcType=VARCHAR},
      state_date = #{stateDate,jdbcType=DATE}
    where inform_id = #{id,jdbcType=INTEGER}
  </update>
</mapper>