<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.wongs.weathertop.shiro.sys.mapper.OptAcctRolRefMapper" >
  <resultMap id="BaseResultMap" type="xyz.wongs.weathertop.shiro.sys.entity.OptAcctRolRef" >
    <id column="acct_rol_ref_id" property="id" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="accountid" property="accountid" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    acct_rol_ref_id, role_id, accountid, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from opt_acct_rol_ref
    where acct_rol_ref_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from opt_acct_rol_ref
    where acct_rol_ref_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="xyz.wongs.weathertop.shiro.sys.entity.OptAcctRolRef" >
    insert into opt_acct_rol_ref (acct_rol_ref_id, role_id, accountid, 
      state)
    values (#{id,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{accountid,jdbcType=INTEGER}, 
      #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="xyz.wongs.weathertop.shiro.sys.entity.OptAcctRolRef" >
    insert into opt_acct_rol_ref
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="acctRolRefId != null" >
        acct_rol_ref_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="accountid != null" >
        accountid,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="acctRolRefId != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="accountid != null" >
        #{accountid,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.wongs.weathertop.shiro.sys.entity.OptAcctRolRef" >
    update opt_acct_rol_ref
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="accountid != null" >
        accountid = #{accountid,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where acct_rol_ref_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.wongs.weathertop.shiro.sys.entity.OptAcctRolRef" >
    update opt_acct_rol_ref
    set role_id = #{roleId,jdbcType=BIGINT},
      accountid = #{accountid,jdbcType=INTEGER},
      state = #{state,jdbcType=VARCHAR}
    where acct_rol_ref_id = #{id,jdbcType=BIGINT}
  </update>
</mapper>