<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.wongs.weathertop.war3.system.mapper.SysConfigMapper" >
    <resultMap id="BaseResultMap" type="xyz.wongs.weathertop.war3.system.entity.SysConfig" >
        <id column="config_id" property="id" jdbcType="BIGINT" />
        <result column="config_name" property="configName" jdbcType="VARCHAR" />
        <result column="config_key" property="configKey" jdbcType="VARCHAR" />
        <result column="config_value" property="configValue" jdbcType="VARCHAR" />
        <result column="config_type" property="configType" jdbcType="CHAR" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
    config_id, config_name, config_key, config_value, config_type, create_by, create_time,
    update_by, update_time, remark
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from sys_config
        where config_id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_config
    where config_id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="xyz.wongs.weathertop.war3.system.entity.SysConfig" >
    insert into sys_config (config_id, config_name, config_key,
      config_value, config_type, create_by,
      create_time, update_by, update_time,
      remark)
    values (#{id,jdbcType=BIGINT}, #{configName,jdbcType=VARCHAR}, #{configKey,jdbcType=VARCHAR},
      #{configValue,jdbcType=VARCHAR}, #{configType,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
      #{remark,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="xyz.wongs.weathertop.war3.system.entity.SysConfig" >
        insert into sys_config
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                config_id,
            </if>
            <if test="configName != null" >
                config_name,
            </if>
            <if test="configKey != null" >
                config_key,
            </if>
            <if test="configValue != null" >
                config_value,
            </if>
            <if test="configType != null" >
                config_type,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateBy != null" >
                update_by,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="remark != null" >
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="configName != null" >
                #{configName,jdbcType=VARCHAR},
            </if>
            <if test="configKey != null" >
                #{configKey,jdbcType=VARCHAR},
            </if>
            <if test="configValue != null" >
                #{configValue,jdbcType=VARCHAR},
            </if>
            <if test="configType != null" >
                #{configType,jdbcType=CHAR},
            </if>
            <if test="createBy != null" >
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null" >
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="xyz.wongs.weathertop.war3.system.entity.SysConfig" >
        update sys_config
        <set >
            <if test="configName != null" >
                config_name = #{configName,jdbcType=VARCHAR},
            </if>
            <if test="configKey != null" >
                config_key = #{configKey,jdbcType=VARCHAR},
            </if>
            <if test="configValue != null" >
                config_value = #{configValue,jdbcType=VARCHAR},
            </if>
            <if test="configType != null" >
                config_type = #{configType,jdbcType=CHAR},
            </if>
            <if test="createBy != null" >
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null" >
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where config_id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="xyz.wongs.weathertop.war3.system.entity.SysConfig" >
    update sys_config
    set config_name = #{configName,jdbcType=VARCHAR},
      config_key = #{configKey,jdbcType=VARCHAR},
      config_value = #{configValue,jdbcType=VARCHAR},
      config_type = #{configType,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where config_id = #{id,jdbcType=BIGINT}
  </update>

    <sql id="sqlwhereSearch">
        <where>
            <if test="id !=null">
                and config_id = #{id,jdbcType=BIGINT}
            </if>
            <if test="configKey !=null and configKey != ''">
                and config_key = #{configKey}
            </if>
        </where>
    </sql>

    <select id="selectConfig" parameterType="xyz.wongs.weathertop.war3.system.entity.SysConfig" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_config
        <include refid="sqlwhereSearch"/>
    </select>

    <select id="checkConfigKeyUnique" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_config
        where config_key = #{configKey}
    </select>

    <delete id="deleteConfigByIds" parameterType="String">
        delete from sys_config where config_id in
        <foreach item="configId" collection="array" open="(" separator="," close=")">
            #{configId}
        </foreach>
    </delete>

    <select id="selectConfigList" parameterType="xyz.wongs.weathertop.war3.system.entity.SysConfig" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_config
        <where>
            <if test="configName != null and configName != ''">
                AND config_name like concat('%', #{configName}, '%')
            </if>
            <if test="configType != null and configType != ''">
                AND config_type = #{configType}
            </if>
            <if test="configKey != null and configKey != ''">
                AND config_key like concat('%', #{configKey}, '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>
</mapper>