<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.wongs.weathertop.war3.system.mapper.SysDictDataMapper" >
  <resultMap id="BaseResultMap" type="xyz.wongs.weathertop.war3.system.entity.SysDictData" >
    <id column="dict_code" property="id" jdbcType="BIGINT" />
    <result column="dict_sort" property="dictSort" jdbcType="INTEGER" />
    <result column="dict_label" property="dictLabel" jdbcType="VARCHAR" />
    <result column="dict_value" property="dictValue" jdbcType="VARCHAR" />
    <result column="dict_type" property="dictType" jdbcType="VARCHAR" />
    <result column="css_class" property="cssClass" jdbcType="VARCHAR" />
    <result column="list_class" property="listClass" jdbcType="VARCHAR" />
    <result column="is_default" property="isDefault" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    dict_code, dict_sort, dict_label, dict_value, dict_type, css_class, list_class, is_default, 
    status, create_by, create_time, update_by, update_time, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_dict_data
    where dict_code = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_dict_data
    where dict_code = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="xyz.wongs.weathertop.war3.system.entity.SysDictData" >
    insert into sys_dict_data (dict_code, dict_sort, dict_label, 
      dict_value, dict_type, css_class, 
      list_class, is_default, status, 
      create_by, create_time, update_by, 
      update_time, remark)
    values (#{id,jdbcType=BIGINT}, #{dictSort,jdbcType=INTEGER}, #{dictLabel,jdbcType=VARCHAR}, 
      #{dictValue,jdbcType=VARCHAR}, #{dictType,jdbcType=VARCHAR}, #{cssClass,jdbcType=VARCHAR}, 
      #{listClass,jdbcType=VARCHAR}, #{isDefault,jdbcType=CHAR}, #{status,jdbcType=CHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="xyz.wongs.weathertop.war3.system.entity.SysDictData" >
    insert into sys_dict_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        dict_code,
      </if>
      <if test="dictSort != null" >
        dict_sort,
      </if>
      <if test="dictLabel != null" >
        dict_label,
      </if>
      <if test="dictValue != null" >
        dict_value,
      </if>
      <if test="dictType != null" >
        dict_type,
      </if>
      <if test="cssClass != null" >
        css_class,
      </if>
      <if test="listClass != null" >
        list_class,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dictSort != null" >
        #{dictSort,jdbcType=INTEGER},
      </if>
      <if test="dictLabel != null" >
        #{dictLabel,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null" >
        #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="dictType != null" >
        #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="cssClass != null" >
        #{cssClass,jdbcType=VARCHAR},
      </if>
      <if test="listClass != null" >
        #{listClass,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.wongs.weathertop.war3.system.entity.SysDictData" >
    update sys_dict_data
    <set >
      <if test="dictSort != null" >
        dict_sort = #{dictSort,jdbcType=INTEGER},
      </if>
      <if test="dictLabel != null" >
        dict_label = #{dictLabel,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null" >
        dict_value = #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="dictType != null" >
        dict_type = #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="cssClass != null" >
        css_class = #{cssClass,jdbcType=VARCHAR},
      </if>
      <if test="listClass != null" >
        list_class = #{listClass,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where dict_code = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectDictLabel" resultType="String">
		select dict_label from sys_dict_data
		where dict_type = #{dictType} and dict_value = #{dictValue}
	</select>


  <select id="countDictDataByType" resultType="Integer">
	    select count(1) from sys_dict_data where dict_type=#{dictType}
	</select>

  <update id="updateByPrimaryKey" parameterType="xyz.wongs.weathertop.war3.system.entity.SysDictData" >
    update sys_dict_data
    set dict_sort = #{dictSort,jdbcType=INTEGER},
      dict_label = #{dictLabel,jdbcType=VARCHAR},
      dict_value = #{dictValue,jdbcType=VARCHAR},
      dict_type = #{dictType,jdbcType=VARCHAR},
      css_class = #{cssClass,jdbcType=VARCHAR},
      list_class = #{listClass,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where dict_code = #{id,jdbcType=BIGINT}
  </update>

  <delete id="deleteDictDataByIds" parameterType="String">
    delete from sys_dict_data where dict_code in
    <foreach collection="array" item="dictCode" open="(" separator="," close=")">
      #{dictCode}
    </foreach>
  </delete>

  <select id="selectDictDataList" parameterType="xyz.wongs.weathertop.war3.system.entity.SysDictData" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_dict_data
    <where>
      <if test="dictType != null and dictType != ''">
        AND dict_type = #{dictType}
      </if>
      <if test="dictLabel != null and dictLabel != ''">
        AND dict_label like concat('%', #{dictLabel}, '%')
      </if>
      <if test="status != null and status != ''">
        AND status = #{status}
      </if>
    </where>
  </select>

  <select id="selectDictDataByType" parameterType="xyz.wongs.weathertop.war3.system.entity.SysDictData" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_dict_data
    where status = '0' and dict_type = #{dictType} order by dict_sort asc
  </select>
</mapper>