<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.wongs.weathertop.war3.system.mapper.SysJobLogMapper" >
  <resultMap id="BaseResultMap" type="xyz.wongs.weathertop.war3.system.entity.SysJobLog" >
    <id column="job_log_id" property="id" jdbcType="BIGINT" />
    <result column="job_name" property="jobName" jdbcType="VARCHAR" />
    <result column="job_group" property="jobGroup" jdbcType="VARCHAR" />
    <result column="invoke_target" property="invokeTarget" jdbcType="VARCHAR" />
    <result column="job_message" property="jobMessage" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="exception_info" property="exceptionInfo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    job_log_id, job_name, job_group, invoke_target, job_message, status, exception_info, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_job_log
    where job_log_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_job_log
    where job_log_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="xyz.wongs.weathertop.war3.system.entity.SysJobLog" >
    insert into sys_job_log (job_log_id, job_name, job_group, 
      invoke_target, job_message, status, 
      exception_info, create_time)
    values (#{id,jdbcType=BIGINT}, #{jobName,jdbcType=VARCHAR}, #{jobGroup,jdbcType=VARCHAR}, 
      #{invokeTarget,jdbcType=VARCHAR}, #{jobMessage,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{exceptionInfo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="xyz.wongs.weathertop.war3.system.entity.SysJobLog" >
    insert into sys_job_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jobLogId != null" >
        job_log_id,
      </if>
      <if test="jobName != null" >
        job_name,
      </if>
      <if test="jobGroup != null" >
        job_group,
      </if>
      <if test="invokeTarget != null" >
        invoke_target,
      </if>
      <if test="jobMessage != null" >
        job_message,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="exceptionInfo != null" >
        exception_info,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jobLogId != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="jobName != null" >
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobGroup != null" >
        #{jobGroup,jdbcType=VARCHAR},
      </if>
      <if test="invokeTarget != null" >
        #{invokeTarget,jdbcType=VARCHAR},
      </if>
      <if test="jobMessage != null" >
        #{jobMessage,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="exceptionInfo != null" >
        #{exceptionInfo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.wongs.weathertop.war3.system.entity.SysJobLog" >
    update sys_job_log
    <set >
      <if test="jobName != null" >
        job_name = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobGroup != null" >
        job_group = #{jobGroup,jdbcType=VARCHAR},
      </if>
      <if test="invokeTarget != null" >
        invoke_target = #{invokeTarget,jdbcType=VARCHAR},
      </if>
      <if test="jobMessage != null" >
        job_message = #{jobMessage,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="exceptionInfo != null" >
        exception_info = #{exceptionInfo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where job_log_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.wongs.weathertop.war3.system.entity.SysJobLog" >
    update sys_job_log
    set job_name = #{jobName,jdbcType=VARCHAR},
      job_group = #{jobGroup,jdbcType=VARCHAR},
      invoke_target = #{invokeTarget,jdbcType=VARCHAR},
      job_message = #{jobMessage,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      exception_info = #{exceptionInfo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where job_log_id = #{id,jdbcType=BIGINT}
  </update>
</mapper>