<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.wongs.weathertop.war3.system.mapper.SysLoginInfoMapper" >
  <resultMap id="BaseResultMap" type="xyz.wongs.weathertop.war3.system.entity.SysLoginInfo" >
    <id column="info_id" property="id" jdbcType="BIGINT" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="ipaddr" property="ipaddr" jdbcType="VARCHAR" />
    <result column="login_location" property="loginLocation" jdbcType="VARCHAR" />
    <result column="browser" property="browser" jdbcType="VARCHAR" />
    <result column="os" property="os" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    info_id, login_name, ipaddr, login_location, browser, os, status, msg, login_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_logininfor
    where info_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_logininfor
    where info_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="xyz.wongs.weathertop.war3.system.entity.SysLoginInfo" >
    insert into sys_logininfor (info_id, login_name, ipaddr, 
      login_location, browser, os, 
      status, msg, login_time
      )
    values (#{id,jdbcType=BIGINT}, #{loginName,jdbcType=VARCHAR}, #{ipaddr,jdbcType=VARCHAR}, 
      #{loginLocation,jdbcType=VARCHAR}, #{browser,jdbcType=VARCHAR}, #{os,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{msg,jdbcType=VARCHAR}, #{loginTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.wongs.weathertop.war3.system.entity.SysLoginInfo" >
    insert into sys_logininfor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="infoId != null" >
        info_id,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="ipaddr != null" >
        ipaddr,
      </if>
      <if test="loginLocation != null" >
        login_location,
      </if>
      <if test="browser != null" >
        browser,
      </if>
      <if test="os != null" >
        os,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="msg != null" >
        msg,
      </if>
      <if test="loginTime != null" >
        login_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="infoId != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="ipaddr != null" >
        #{ipaddr,jdbcType=VARCHAR},
      </if>
      <if test="loginLocation != null" >
        #{loginLocation,jdbcType=VARCHAR},
      </if>
      <if test="browser != null" >
        #{browser,jdbcType=VARCHAR},
      </if>
      <if test="os != null" >
        #{os,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.wongs.weathertop.war3.system.entity.SysLoginInfo" >
    update sys_logininfor
    <set >
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="ipaddr != null" >
        ipaddr = #{ipaddr,jdbcType=VARCHAR},
      </if>
      <if test="loginLocation != null" >
        login_location = #{loginLocation,jdbcType=VARCHAR},
      </if>
      <if test="browser != null" >
        browser = #{browser,jdbcType=VARCHAR},
      </if>
      <if test="os != null" >
        os = #{os,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="msg != null" >
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where info_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.wongs.weathertop.war3.system.entity.SysLoginInfo" >
    update sys_logininfor
    set login_name = #{loginName,jdbcType=VARCHAR},
      ipaddr = #{ipaddr,jdbcType=VARCHAR},
      login_location = #{loginLocation,jdbcType=VARCHAR},
      browser = #{browser,jdbcType=VARCHAR},
      os = #{os,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      msg = #{msg,jdbcType=VARCHAR},
      login_time = #{loginTime,jdbcType=TIMESTAMP}
    where info_id = #{id,jdbcType=BIGINT}
  </update>
</mapper>