<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.wongs.weathertop.war3.system.mapper.SysUserMapper">

    <resultMap type="xyz.wongs.weathertop.war3.system.entity.SysUser" id="SysUserMap">
        <result property="id" column="user_id" jdbcType="INTEGER"/>
        <result property="deptId" column="dept_id" jdbcType="INTEGER"/>
        <result property="loginName" column="login_name" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="userType" column="user_type" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phoneNumber" column="phonenumber" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="salt" column="salt" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
        <result property="loginIp" column="login_ip" jdbcType="VARCHAR"/>
        <result property="loginDate" column="login_date" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <association property="dept"    column="dept_id" javaType="xyz.wongs.weathertop.war3.system.entity.SysDept" resultMap="deptResult" />
        <collection  property="roles"   javaType="java.util.List"   resultMap="RoleResult" />
    </resultMap>

    <resultMap id="RoleResult" type="xyz.wongs.weathertop.war3.system.entity.SysRole">
        <id     property="id"       column="role_id"        />
        <result property="roleName"     column="role_name"      />
        <result property="roleKey"      column="role_key"       />
        <result property="roleSort"     column="role_sort"      />
        <result property="dataScope"    column="data_scope"     />
        <result property="status"       column="role_status"    />
    </resultMap>

    <resultMap id="deptResult" type="xyz.wongs.weathertop.war3.system.entity.SysDept">
        <id     property="id"   column="dept_id"     />
        <result property="parentId" column="parent_id"   />
        <result property="deptName" column="dept_name"   />
        <result property="orderNum" column="order_num"   />
        <result property="leader"   column="leader"      />
        <result property="status"   column="dept_status" />
    </resultMap>

    <delete id="deleteUserByIds" parameterType="Long">
        update sys_user set del_flag = '2' where user_id in
        <foreach collection="array" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <select id="selectByPrimaryKey" resultMap="SysUserMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from sys_user
        where user_id = #{userId,jdbcType=BIGINT}
    </select>

    <select id="selectAllocatedList" parameterType="xyz.wongs.weathertop.war3.system.entity.SysUser" resultMap="SysUserMap">
        select distinct u.user_id, u.dept_id, u.login_name, u.user_name, u.user_type, u.email, u.avatar, u.phonenumber, u.status, u.create_time
        from sys_user u
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_user_role ur on u.user_id = ur.user_id
        left join sys_role r on r.role_id = ur.role_id
        where u.del_flag = '0' and r.role_id = #{roleId}
        <if test="loginName != null and loginName != ''">
            AND u.login_name like concat('%', #{loginName}, '%')
        </if>
        <if test="phoneNumber != null and phoneNumber != ''">
            AND u.phonenumber like concat('%', #{phoneNumber}, '%')
        </if>
    </select>

    <select id="selectUnallocatedList" parameterType="xyz.wongs.weathertop.war3.system.entity.SysUser" resultMap="SysUserMap">
        select distinct u.user_id, u.dept_id, u.login_name, u.user_name, u.user_type, u.email, u.avatar, u.phonenumber, u.status, u.create_time
        from sys_user u
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_user_role ur on u.user_id = ur.user_id
        left join sys_role r on r.role_id = ur.role_id
        where u.del_flag = '0' and (r.role_id != #{roleId} or r.role_id IS NULL)
        and u.user_id not in (select u.user_id from sys_user u inner join sys_user_role ur on u.user_id = ur.user_id and ur.role_id = #{roleId})
        <if test="loginName != null and loginName != ''">
            AND u.login_name like concat('%', #{loginName}, '%')
        </if>
        <if test="phoneNumber != null and phoneNumber != ''">
            AND u.phonenumber like concat('%', #{phoneNumber}, '%')
        </if>
    </select>

    <select id="selectUserRoleByUserId" parameterType="Long" resultMap="SysUserMap">
		select user_id, role_id from sys_user_role where user_id = #{userId}
	</select>

    <select id="checkPhoneUnique" parameterType="String" resultMap="SysUserMap">
		select user_id, phonenumber from sys_user where phonenumber=#{phoneNumber}
	</select>

    <select id="checkEmailUnique" parameterType="String" resultMap="SysUserMap">
		select user_id, email from sys_user where email=#{email}
	</select>

    <select id="selectUserList" parameterType="xyz.wongs.weathertop.war3.system.entity.SysUser" resultMap="SysUserMap">
        select u.user_id, u.dept_id, u.login_name, u.user_name, u.user_type, u.email, u.avatar, u.phonenumber, u.password, u.sex, u.salt, u.status, u.del_flag, u.login_ip, u.login_date, u.create_by, u.create_time, u.remark, d.dept_name, d.leader from sys_user u
        left join sys_dept d on u.dept_id = d.dept_id
        where u.del_flag = '0'
        <if test="loginName != null and loginName != ''">
            AND u.login_name like concat('%', #{loginName}, '%')
        </if>
        <if test="status != null and status != ''">
            AND u.status = #{status}
        </if>
        <if test="phoneNumber != null and phoneNumber != ''">
            AND u.phonenumber like concat('%', #{phoneNumber}, '%')
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(u.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(u.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        <if test="deptId != null and deptId != 0">
            AND (u.dept_id = #{deptId} OR u.dept_id IN
            ( SELECT t.dept_id FROM sys_dept t WHERE FIND_IN_SET (#{deptId},ancestors) ))
        </if>
    </select>

    <sql id="Base_Column_List" >
        user_id, dept_id, login_name, user_name, user_type, email, phonenumber, sex, avatar,
        password, salt, status, del_flag, login_ip, login_date, create_by, create_time, update_by,
        update_time, remark
    </sql>
    <select id="queryById" resultMap="SysUserMap">
        select
          user_id, dept_id, login_name, user_name, user_type, email, phonenumber, sex, avatar, password, salt, status, del_flag, login_ip, login_date, create_by, create_time, update_by, update_time, remark
        from sys_user
        where user_id = #{id)
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SysUserMap">
        select
          user_id, dept_id, login_name, user_name, user_type, email, phonenumber, sex, avatar, password, salt, status, del_flag, login_ip, login_date, create_by, create_time, update_by, update_time, remark
        from sys_user
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="SysUserMap">
        select
          user_id, dept_id, login_name, user_name, user_type, email, phonenumber, sex, avatar, password, salt, status, del_flag, login_ip, login_date, create_by, create_time, update_by, update_time, remark
        from sys_user
        <where>
            <if test="userId != null">
                and user_id = #{id)
            </if>
            <if test="deptId != null">
                and dept_id = #{deptId}
            </if>
            <if test="loginName != null and loginName != ''">
                and login_name = #{loginName}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
            <if test="userType != null and userType != ''">
                and user_type = #{userType}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                and phonenumber = #{phoneNumber}
            </if>
            <if test="sex != null and sex != ''">
                and sex = #{sex}
            </if>
            <if test="avatar != null and avatar != ''">
                and avatar = #{avatar}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="salt != null and salt != ''">
                and salt = #{salt}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="delFlag != null and delFlag != ''">
                and del_flag = #{delFlag}
            </if>
            <if test="loginIp != null and loginIp != ''">
                and login_ip = #{loginIp}
            </if>
            <if test="loginDate != null">
                and login_date = #{loginDate}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
        </where>
    </select>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="xyz.wongs.weathertop.war3.system.entity.SysUser" >
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                user_id,
            </if>
            <if test="deptId != null" >
                dept_id,
            </if>
            <if test="loginName != null" >
                login_name,
            </if>
            <if test="userName != null" >
                user_name,
            </if>
            <if test="userType != null" >
                user_type,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="phoneNumber != null" >
                phonenumber,
            </if>
            <if test="sex != null" >
                sex,
            </if>
            <if test="avatar != null" >
                avatar,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="salt != null" >
                salt,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="delFlag != null" >
                del_flag,
            </if>
            <if test="loginIp != null" >
                login_ip,
            </if>
            <if test="loginDate != null" >
                login_date,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateBy != null" >
                update_by,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="remark != null" >
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="deptId != null" >
                #{deptId,jdbcType=BIGINT},
            </if>
            <if test="loginName != null" >
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="userName != null" >
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userType != null" >
                #{userType,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phoneNumber != null" >
                #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                #{sex,jdbcType=CHAR},
            </if>
            <if test="avatar != null" >
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null" >
                #{salt,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=CHAR},
            </if>
            <if test="delFlag != null" >
                #{delFlag,jdbcType=CHAR},
            </if>
            <if test="loginIp != null" >
                #{loginIp,jdbcType=VARCHAR},
            </if>
            <if test="loginDate != null" >
                #{loginDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null" >
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null" >
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="xyz.wongs.weathertop.war3.system.entity.SysUser" >
        update sys_user
        <set >
            <if test="deptId != null" >
                dept_id = #{deptId,jdbcType=BIGINT},
            </if>
            <if test="loginName != null" >
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="userName != null" >
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userType != null" >
                user_type = #{userType,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phoneNumber != null" >
                phonenumber = #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                sex = #{sex,jdbcType=CHAR},
            </if>
            <if test="avatar != null" >
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null" >
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=CHAR},
            </if>
            <if test="delFlag != null" >
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
            <if test="loginIp != null" >
                login_ip = #{loginIp,jdbcType=VARCHAR},
            </if>
            <if test="loginDate != null" >
                login_date = #{loginDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null" >
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null" >
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            update_time = sysdate()
        </set>
        where user_id = #{id,jdbcType=BIGINT}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from sys_user where user_id = #{id)
    </delete>

    <select id="selectUserByLoginName" parameterType="String" resultMap="SysUserMap">
        select
        <include refid="Base_Column_List" />
        from sys_user
        where login_name = #{userName}
    </select>

    <select id="selectUserByPhoneNumber" parameterType="String" resultMap="SysUserMap">
        select
        <include refid="Base_Column_List" />
        from sys_user
        where phonenumber = #{phoneNumber}

    </select>

    <select id="checkLoginNameUnique" parameterType="String" resultType="int">
		select count(1) from sys_user where login_name=#{loginName}
	</select>

    <select id="selectUserByEmail" parameterType="String" resultMap="SysUserMap">
        select
        <include refid="Base_Column_List" />
        from sys_user
        where email = #{email}
    </select>

    <update id="updateByPrimaryKey" parameterType="xyz.wongs.weathertop.war3.system.entity.SysUser" >
    update sys_user
    set
      login_ip = #{loginIp,jdbcType=VARCHAR},
      login_date = #{loginDate,jdbcType=TIMESTAMP}
    where user_id = #{id,jdbcType=BIGINT}
  </update>
</mapper>