<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.wongs.weathertop.akkad.lsms.analydb.mapper.SmNpdbMapper" >
  <resultMap id="BaseResultMap" type="xyz.wongs.weathertop.akkad.lsms.analydb.entity.SmNpdb" >
    <id column="npcode" property="id" jdbcType="BIGINT" />
    <result column="portoutnetid" property="portoutnetid" jdbcType="VARCHAR" />
    <result column="portinnetid" property="portinnetid" jdbcType="VARCHAR" />
    <result column="homenetid" property="homenetid" jdbcType="VARCHAR" />
    <result column="reqdatetime" property="reqdatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    npcode, portoutnetid, portinnetid, homenetid, reqdatetime
  </sql>

  <insert id="insertBatchByOn" parameterType="java.util.List">
    insert into sm_npdb (npcode, portoutnetid, portinnetid,
    homenetid, reqdatetime) values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.portoutnetid,jdbcType=VARCHAR}, #{item.portinnetid,jdbcType=VARCHAR},
      #{item.homenetid,jdbcType=VARCHAR}, #{item.reqdatetime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sm_npdb
    where npcode = #{npcode,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sm_npdb
    where npcode = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="xyz.wongs.weathertop.akkad.lsms.analydb.entity.SmNpdb" >
    insert into sm_npdb (npcode, portoutnetid, portinnetid, 
      homenetid, reqdatetime)
    values (#{npcode,jdbcType=BIGINT}, #{portoutnetid,jdbcType=VARCHAR}, #{portinnetid,jdbcType=VARCHAR}, 
      #{homenetid,jdbcType=VARCHAR}, #{reqdatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="xyz.wongs.weathertop.akkad.lsms.analydb.entity.SmNpdb" >
    insert into sm_npdb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="npcode != null" >
        npcode,
      </if>
      <if test="portoutnetid != null" >
        portoutnetid,
      </if>
      <if test="portinnetid != null" >
        portinnetid,
      </if>
      <if test="homenetid != null" >
        homenetid,
      </if>
      <if test="reqdatetime != null" >
        reqdatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="npcode != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="portoutnetid != null" >
        #{portoutnetid,jdbcType=VARCHAR},
      </if>
      <if test="portinnetid != null" >
        #{portinnetid,jdbcType=VARCHAR},
      </if>
      <if test="homenetid != null" >
        #{homenetid,jdbcType=VARCHAR},
      </if>
      <if test="reqdatetime != null" >
        #{reqdatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.wongs.weathertop.akkad.lsms.analydb.entity.SmNpdb" >
    update sm_npdb
    <set >
      <if test="portoutnetid != null" >
        portoutnetid = #{portoutnetid,jdbcType=VARCHAR},
      </if>
      <if test="portinnetid != null" >
        portinnetid = #{portinnetid,jdbcType=VARCHAR},
      </if>
      <if test="homenetid != null" >
        homenetid = #{homenetid,jdbcType=VARCHAR},
      </if>
      <if test="reqdatetime != null" >
        reqdatetime = #{reqdatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where npcode = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.wongs.weathertop.akkad.lsms.analydb.entity.SmNpdb" >
    update sm_npdb
    set portoutnetid = #{portoutnetid,jdbcType=VARCHAR},
      portinnetid = #{portinnetid,jdbcType=VARCHAR},
      homenetid = #{homenetid,jdbcType=VARCHAR},
      reqdatetime = #{reqdatetime,jdbcType=TIMESTAMP}
    where npcode = #{id,jdbcType=BIGINT}
  </update>
</mapper>