<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit">
	<title>风云顶系统首页</title>
	<!-- 避免IE使用兼容模式 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--	<link th:href="@{favicon.ico}" rel="stylesheet"/>-->
	<link rel="stylesheet" th:href="@{/css/about/main.css}">
	<!-- title -->

	<title>关于 | 王老邪
	</title>
	<!-- keywords,description -->
	<meta name="description" content="King of the Lonely Mountain" />

	<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/darcula.min.css">
	<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-pjax@2.0.1/jquery.pjax.min.js"></script>
	<script th:src="@{/js/about/main.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/leancloud-storage/dist/av-min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/valine@1.3.10/dist/Valine.min.js"></script>
	<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
</head>

<body>
	<!-- 引入正文 -->
	<div id="content">
		<div id="article-content">
			<p>09 年开始接触Java，期间也大大小小做过一些项目，从 13 年开始转Project Leader，国企熬日子，养家糊口，各方面技能水平一般，谈不上多优秀。</p>
			<p><strong>标签：处女座、加班狗、技术控、Coding 也可以有喜感。</strong></p>
			<p>10 年软件领域工作经验，5 年开发经验、5 年项目管理经验。对技术有强烈兴趣，喜欢钻研，随着这些年职责变换多次，也渐渐的让自己明感悟，TM人生不易呀，具体有多换位思考，多从不同的角度来解释问题，事情多做一点，抱怨少一点、心态好一点。技术领域很宽泛，多努力学习积累的同时也要有团队协作精神。</p>
			<p>自己个人博客<a href="https://rothschil.github.io/" target="_blank" rel="noopener"> 王老邪 </a></p>
			<h1 id="学习心路历程"><a href="#学习心路历程" class="headerlink" title="学习心路历程"></a>学习心路历程</h1><p>这些年随着工作职责调整，涉及到工作内容比较杂，也没有闲下心来认真钻研技术类，对技术的沉淀还依靠过去的老底。</p>
			<p>随着2020年开年的冠状疫情，想出去外面看看的意愿也被打住，任何人都逃脱不了现实，趁着赋闲之余，开始着手整理以前的资料和梳理知识，顺带深挖底层实现原理。</p>
			<ul>
			<li><p><code>eDiary</code>：本人最早使用的一款个人笔记，对09年来说，整PC端笔记日记类产品也只有这个可以拿出手，什么Office、有道等市面上都没有此类产品</p>
			<ul>
			<li>优点：轻量，便捷</li>
			<li>缺点：随着移动端发力，此产品缺乏信息共享的机制造成没法适应整个潮流</li>
			</ul>
			</li>
			<li><p><code>OneNode</code>：本人当前用的最多的个人知识软件，这里强力推荐 OneNode 的几个插件，本人很喜欢，浏览器 Chrome 插件 <code>Clip to OneNode</code>，再有一个就是语法高亮插件，<code>NoteHighlight</code></p>
			<ul>
			<li>优点：PC 以及移动端都可以分享，风格大气，简约，支持图片识别以及强大的数学表达式的编写</li>
			<li>缺点：上手需要一点时间，国内网络有点慢，个人情况出现无法访问。</li>
			</ul>
			</li>
			<li><p><code>简书</code>：东西是好东西</p>
			<ul>
			<li>优点：Markdown 语法支持很好；还有一大优点就是图床，很适合个人博客书写，虽然本人也用过阿里云OSS对象存储产品，博客浏览量上来后，充值缴费环节让我心塞，一次两次还能接受，再多我的小金库也扛不住，果断抛弃，现在用的gihub当图床。</li>
			<li>缺点：好多文档都被“锁定”，作者本人才能看到，要不停去申诉，时间一长，有点折磨人，而且纯技术类哪有什么“政治意向”，过于捕风捉影。</li>
			</ul>
			</li>
			<li><p><code>github</code>：</p>
			<ul>
			<li>优点：开源，简约的风格到时候很招人喜欢，默默透漏着一种“人狠话不多”的感觉，周围生态很丰富，强大的 <code>Git</code> 支持；无广告&lt;这很重要&gt;</li>
			<li>缺点：除了国内网速有点慢，其他方面都给满分吧</li>
			</ul>
			</li>
			</ul>
		</div>
	</div>
</body>
</html>